<ion-view view-title="ADN">
	<ion-content has-subheader="false" class="Vista-ADN">
		<div class="row">
			<div class="col text-center">
				<h1 class="p-cl">ADN</h1>
				<p class="p-cl">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. </p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
			</div>
		</div>
	</ion-content>
</ion-view>