<ion-view view-title="ADN">
	<ion-content has-subheader="false" class="Vista-ADN">
		<div class="row">
			<div class="col text-center">
				<h1 class="p-cl">ADN</h1>
				<p class="p-cl">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria.El ADN es la macromolécula base de la herencia. Es un ácido nucleico que contiene la información de las características hereditarias de cada ser vivo y las secuencias para la creación de aminoácidos que generarán las proteínas vitales para el funcionamiento de los organismos. </p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
				<div class="strain"></div>
			</div>
		</div>
	</ion-content>
</ion-view>