<ion-view>
	<ion-content class="inicio">
		<!-- Fila -->
		<div class="row">
			<div class="col">
				<button class="button button-block" ng-click="irAdn()">
					ADN
				</button>				
				<button class="button button-block" ng-click="irvideo()">
  				Video e información
				</button>
				<button class="button button-block" ng-click="irvideo()">
  				Juego
				</button><button class="button button-block" ng-click="irvideo()">
  				Infografia 
				</button><button class="button button-block" ng-click="irvideo()">
  				Tabla nutricional
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>